[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = "*"
flask = "*"
sqlalchemy = "*"
python-decouple = "*"
psycopg2-binary = "*"
alembic = "*"
mypy = "*"
graphene-sqlalchemy = "*"
flask-graphql = "==2.0.1"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
